In [1]:
# imports
import pandas as pd

# my imports
from ma_crossover_strategy import *
from rsi_strategy import *

In [2]:
ma_trades = backtest_ma()
rsi_trades = backtest_rsi()

In [6]:
ma_trades

   entry_date  exit_date  entry_price  exit_price        profit
0  2017-12-29 2018-01-20      60.4200     63.5700   5213.505462
1  2018-01-24 2018-02-02      65.6100     65.4500   -256.579193
2  2018-02-17 2018-03-02      61.6100     61.2500   -613.285075
3  2018-03-13 2018-03-14      60.7100     60.9600    429.680618
4  2018-03-18 2018-04-01      62.2193     65.1858   4995.396270
..        ...        ...          ...         ...           ...
86 2023-07-04 2023-08-16      71.1540     78.7300  28387.897763
87 2023-08-30 2023-09-26      81.1200     88.7800  27857.000088
88 2023-09-27 2023-10-04      91.3000     82.5500 -30942.684710
89 2023-10-17 2023-10-26      84.3000     82.5400  -6094.696866
90 2023-11-24 2023-11-30      75.7700     76.0500   1056.244962

[91 rows x 5 columns]

In [5]:
rsi_trades

   entry_date  exit_date  entry_price  exit_price        profit
0  2018-02-07 2018-03-21        61.79     65.1700   5470.140799
1  2018-05-25 2018-06-27        67.88     72.7600   7582.414365
2  2018-10-23 2019-02-20        66.43     56.9200 -16184.401620
3  2019-05-23 2019-06-26        57.91     59.3800   2458.922219
4  2019-08-07 2019-09-15        51.09     61.1282  19515.855391
5  2019-10-02 2019-12-17        52.64     60.6840  18160.572534
6  2020-01-15 2020-06-02        57.84     36.8100 -49812.995895
7  2020-09-04 2020-11-24        39.77     44.9100  11268.775712
8  2021-07-19 2021-09-27        66.35     75.4500  13503.835417
9  2021-11-19 2022-01-06        75.23     78.8800   5432.213001
10 2022-09-23 2023-04-03        78.25     80.4400   3285.569034
11 2023-05-03 2023-07-13        68.60     76.4700  13844.878871

In [8]:
# Create the final data frame that will contain the results of the strategies
final_results = pd.DataFrame(columns = ['Annual Return', 'Total Return', 'Maximum Drawdown', 'Win Rate', 'Profit Factor'])

In [9]:
# Calculate the results of the strategies
final_results.loc['Moving Average Crossover'] = [annualized_return(ma_trades), total_return(ma_trades), maximum_drawdown(ma_trades), win_rate(ma_trades) , profit_factor(ma_trades)]

final_results.loc['RSI'] = [annualized_return(rsi_trades), total_return(rsi_trades), maximum_drawdown(rsi_trades), win_rate(rsi_trades) , profit_factor(rsi_trades)]

In [10]:
final_results

,Annual Return,Total Return,Maximum Drawdown,Win Rate,Profit Factor
Moving Average Crossover,4.663462,186.883676,2.228324,38.461538,1.361485
RSI,4.706362,34.525780,3.552437,83.333333,1.523139